<ul>
    <li><a routerLink="/">Categories</a></li>
    <li><a routerLink="/subcategory">Sub-Categories</a></li>
    <li><a routerLink="/items">Items</a></li>
    <li><a routerLink="/feedback">Feedback</a></li>
    <li><a 
        href='https://wa.me/9560257177?text=deploy_akra_menu'
        >Start Deployment</a>
    </li>
    <!-- <li><a href="#contact">Preview menu</a></li> -->
    <li><a href="" (click)="handleSignout()">Sign out</a></li>
</ul>

<!-- href="mailto:rajatis1999@gmail.com?subject=Deploy menu!&body=Akra menu deployment requested!" -->